# Main exports
export ZSH=/usr/share/oh-my-zsh/

# Oh-my-zsh exports
export ZSH_THEME="powerlevel9k/powerlevel9k"
export DISABLE_AUTO_UPDATE="true"

plugins=(
    git
    ruby
    rails
    zsh-autosuggestions
    zsh-syntax-highlighting
)

if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='vim'
fi

# Powerlevel9k customization
export POWERLEVEL9K_LEFT_PROMPT_ELEMENTS=(context dir dir_writable rbenv vcs)
export POWERLEVEL9K_RIGHT_PROMPT_ELEMENTS=(status root_indicator background_jobs history time)
export POWERLEVEL9K_SHORTEN_STRATEGY="truncate_middle"
export POWERLEVEL9K_SHOW_CHANGESET="true"
export POWERLEVEL9K_CHANGESET_HASH_LENGTH="12"
export POWERLEVEL9K_STATUS_VERBOSE="true"
export DEFAULT_USER="genesis"

# RVM setup
[[ -s "$HOME/.rvm/scripts/rvm" ]] && source "$HOME/.rvm/scripts/rvm"

# Path
export PATH="$PATH:$HOME/.rvm/bin"
