# Main exports
ZSH=/usr/share/oh-my-zsh/

# Oh-my-zsh exports
DISABLE_AUTO_UPDATE="true"

# Zsh plugins
source /usr/share/zsh/plugins/zsh-autosuggestions/zsh-autosuggestions.zsh
source /usr/share/zsh/plugins/zsh-syntax-highlighting/zsh-syntax-highlighting.plugin.zsh

plugins=(
    git
    ruby
    rails
    docker
    docker-compose
    autoenv
)

if [[ -n $SSH_CONNECTION ]]; then
  export EDITOR='vim'
else
  export EDITOR='vim'
fi
export VISUAL='vim'

# Set the default user for some terminal prompts
DEFAULT_USER="genesis"

# Powerlevel10k customization
source /usr/share/zsh-theme-powerlevel10k/powerlevel10k.zsh-theme
# To customize prompt, run `p10k configure` or edit ~/.p10k.zsh.
[[ -f ~/.p10k.zsh ]] && source ~/.p10k.zsh

# Disable winemenubuilder
WINEDLLOVERRIDES=winemenubuilder.exe=d

# Add yarn global bin to PATH.
export PATH="$PATH:$(yarn global bin)"

# Add RVM to PATH for scripting. Make sure this is the last PATH variable change.
export PATH="$PATH:$HOME/.rvm/bin"
